h2 {
  text-align: center;
}

.imageLink {
  width: 25%;

  padding: 10px;
  border-radius: 2%;
}

.centerParagraph {
  text-align: center;
}
.center {          /* where the next element will be automatically positioned */
  text-align: center;
  display: block;
  width: 100%;
}