h2 {
  text-align: center;
}

.imageLink {
  width: 25%;
  padding: 10px;
  border-radius: 2%;
}

.imageLink:hover {
  background-color: goldenrod;
  width: 26%;
}

.centerParagraph {
  text-align: center;
}
.center {          
  text-align: center;
  display: block;
  width: 100%;
}

.info {
  text-align: center;
}
form {
  width: 500px;
}